@import "compass/css3";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

//------------------------------------------------------------------
//Mixins
//------------------------------------------------------------------


@mixin transition-default { @include transition-property(all); @include transition-duration(0.3s); @include transition-timing-function(ease-in); }

//------------------------------------------------------------------
//Styles
//------------------------------------------------------------------

html {
  //a4dcc6 
  background: #1ebec2 url(../images/bg-pattern.png);
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
/*  color: #C6A49A;*/
}

body {
  background: url(../images/ruler.png) left top repeat-y;
}

/*section {
  background: rgba(231, 230, 228, .5);
  border-top: 2px solid rgba(231, 230, 228, .4);
  min-height: 900px;
  max-width: 1000px;
  margin: 200px auto 200px auto;
  
  @include box-shadow(rgba(44, 42, 41, .4) 0 0 8px);
}*/

section {
  padding: 100px 0 100px 0;
}

.section_wrap {
  background: rgba(231, 230, 228, .5);
  border-top: 2px solid rgba(231, 230, 228, .4);
  min-height: 900px;
  width: 1000px;
  margin: 0 auto;
  
  @include box-shadow(rgba(44, 42, 41, .4) 0 0 8px);
}

h1, h2, h3, h4 {
  font-family: "league-gothic",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;  
}

.button-example-css3 {
  border: 1px solid #6f9dc0;
  background: #6caddf;
  color: #fff;
  cursor: pointer;  
  font-size: 14px;
  padding: 7px 12px 6px 12px;
  line-height: 34px;
  text-decoration: none;

  @include border-radius (3px);
  @include box-shadow(rgba(0, 0, 0, .2) 0 0 8px, inset rgba(207, 233, 254, 1) 0 1px 0);
  @include background(linear-gradient(rgba(153,204,245, 1), rgba(129,181,220, 1))); 
  @include text-shadow(#4c88b6 0 -1px 1px);
  @include transition-default;
}

.button-example-css3:hover {
  background: #8acbfc;
  color: #fff;
  text-decoration: none;
  @include box-shadow(rgba(0, 0, 0, .35) 0 0 8px, inset rgba(220, 243, 255, 1) 0 1px 0);
  @include background(linear-gradient(rgba(163,214,255, 1), rgba(139,191,230, 1)));
}

.three-dee-text {
  color: #fff;
  cursor: pointer;
  font-size: 80px;
  line-height: 80px;
  text-align: center; 
  font-weight: 600;
   
  @include transition-default; 
}

.three-dee-text:hover {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}



.pixels_scrolled {
  background: url(../images/master-sprite.png);
  color: rgba(44, 42, 41, 1);
  height: 27px;
  line-height: 27px;
  padding-left: 8px;
  top: 50%;
  margin-top: -10px;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-shadow: 0 -1px rgba(220, 243, 255, 1);
  width: 58px;
}






//------------------------------------------------------------------
//Transformers Section
//------------------------------------------------------------------

#browser {
  margin: 0 auto; text-align: center;
  text-shadow: 0 3px 3px #333;
}
  #browser em {
    font: italic 26px Georgia, Serif; color: #666; 
  }

#transformers-rule {
  width: 750px; position: relative; margin: 50px auto;
}

#transformers-rule h2 {
  color: #333;
  font-family: arial;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 4px;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 324px; height: 412px;
  -webkit-perspective: 1000;
}

.card {
  width: 324px; height: 412px;
  border: 8px solid #fff; 
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    @include box-shadow(rgba(44, 42, 41, .4) 0 0 8px);
}
  .container:hover .card {
    -webkit-transform: rotateY(180deg);       
  }

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
}


.megatron {
  float: left; position: absolute; top: 30px; left: 20px;
  -webkit-transform: rotate(5deg);
}
  .megatron .front {
    
  }
  .megatron .back {
    width: 284px; height: 372px; padding: 20px 20px 20px 20px;
    -webkit-transform: rotateY(180deg);
    background: #a3a3a3 url(texture.png); 
  }
    .megatron img {
      float: right;
    }
    .megatron p {
      float: left; width: 185px; margin: 0 0 20px 0;
      font-size: 17px; line-height: 28px; color: #4c4c4c; 
    }
    .megatron dl {
      font-size: 30px; font-weight: bold; 
      line-height: 40px; color: #717171;
      width: 264px; padding: 5px 10px; overflow: hidden; 
      background: #cfcfcf url(gradient.png) repeat-y;
      -webkit-box-shadow: 0 1px 5px #888;
      text-shadow: 0 1px 1px #f5f5f5;
    }
      .megatron dl dt {
        float: left; clear: both;
      }
      .megatron dl dd {
        float: right;
      }

  
.optimus {
  float: left; position: absolute; top: 120px; right: 20px;
  -webkit-transform: rotate(-3deg);
}
  .optimus .front {
    
  }
  .optimus .back {
    width: 284px; height: 372px; padding: 20px 20px 20px 20px;
    -webkit-transform: rotateY(180deg);
    background: #a3a3a3 url(texture.png); 
  }
    .optimus img {
      float: right;
    }
    .optimus p {
      float: left; width: 185px; margin: 0 0 27px 0;
      font-size: 17px; line-height: 28px; color: #4c4c4c; 
    }
    .optimus dl {
      font-size: 30px; font-weight: bold; 
      line-height: 40px; color: #717171;
      width: 264px; padding: 5px 10px; overflow: hidden; 
      background: #cfcfcf url(gradient.png) repeat-y;
      -webkit-box-shadow: 0 1px 5px #888;
      text-shadow: 0 1px 1px #f5f5f5;
    }
      .optimus dl dt {
        float: left; clear: both;
      }
      .optimus dl dd {
        float: right;
      }

.front {
  z-index: 10;
}
.container:hover .front {
  z-index: 0;
} 

#credit {
  position: absolute; bottom: 40px; right: 40px; width: 200px;
  text-align: center; font-size: 14px; color: #717171;
}
  #credit a {
    color: #666;
  }
    #credit a:hover {
      color: #888;
    }
    
//------------------------------------------------------------------
//Robot all up in this
//------------------------------------------------------------------    



@-webkit-keyframes bot {
    from { background-position: 0 0; }
    to { background-position: -1440px 0; }
}

  
.robot-all-up-in-this {
 background: red url(../images/robot-sprite.png) no-repeat;
 background-position: 0 0;
 height: 306px;
 width: 160px; 
 
 -webkit-animation: bot .8s steps(9, end) infinite;
}




