/* line 5, ../scss/style.scss */
html, body, #wrap {
  height: 100%;
}

/* line 5, ../scss/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 5, ../scss/style.scss */
body {
  line-height: 1em;
}

/* line 5, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 5, ../scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 5, ../scss/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 5, ../scss/style.scss */
:focus {
  outline: 0;
}

/* line 5, ../scss/style.scss */
ins {
  text-decoration: none;
}

/* line 5, ../scss/style.scss */
del {
  text-decoration: line-through;
}

/* line 5, ../scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 5, ../scss/style.scss */
input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/style.scss */
html {
  background: url(../images/bg-pattern.png);
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
  /*  color: #C6A49A;*/
}

/* line 27, ../scss/style.scss */
section {
  background: rgba(255, 255, 255, 0.5);
  min-height: 900px;
  max-width: 1000px;
  margin: 200px auto 200px auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 36, ../scss/style.scss */
h1, h2, h3, h4 {
  font-family: "league-gothic",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}

/* line 46, ../scss/style.scss */
.button-example-css3 {
  border: 1px solid #6f9dc0;
  background: #6caddf;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 7px 12px 6px 12px;
  line-height: 34px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  text-shadow: #4c88b6 0 -1px 1px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 63, ../scss/style.scss */
.button-example-css3:hover {
  background: #8acbfc;
  color: #fff;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3d6ff), color-stop(100%, #8bbfe6));
  background: -webkit-linear-gradient(#a3d6ff, #8bbfe6);
  background: -moz-linear-gradient(#a3d6ff, #8bbfe6);
  background: -o-linear-gradient(#a3d6ff, #8bbfe6);
  background: -ms-linear-gradient(#a3d6ff, #8bbfe6);
  background: linear-gradient(#a3d6ff, #8bbfe6);
}

/* line 71, ../scss/style.scss */
.three-dee-text {
  color: #fff;
  cursor: pointer;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: 600;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 82, ../scss/style.scss */
.three-dee-text:hover {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 108, ../scss/style.scss */
.transformers {
  background: rgba(0, 0, 0, 0.6);
}

/* line 112, ../scss/style.scss */
#browser {
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 3px 3px #333;
}

/* line 116, ../scss/style.scss */
#browser em {
  font: italic 26px Georgia, Serif;
  color: #666;
}

/* line 120, ../scss/style.scss */
#transformers-rule {
  width: 750px;
  position: relative;
  margin: 50px auto;
}

/* line 124, ../scss/style.scss */
#transformers-rule h2 {
  color: #333;
  font-family: arial;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 4px;
  text-transform: uppercase;
  text-align: center;
}

/* line 136, ../scss/style.scss */
.container {
  width: 324px;
  height: 412px;
  -webkit-perspective: 1000;
}

/* line 141, ../scss/style.scss */
.card {
  width: 324px;
  height: 412px;
  border: 8px solid #fff;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

/* line 147, ../scss/style.scss */
.container:hover .card {
  -webkit-transform: rotateY(180deg);
}

/* line 151, ../scss/style.scss */
.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

/* line 157, ../scss/style.scss */
.megatron {
  float: left;
  position: absolute;
  top: 30px;
  left: 20px;
  -webkit-transform: rotate(5deg);
}

/* line 164, ../scss/style.scss */
.megatron .back {
  width: 284px;
  height: 372px;
  padding: 20px 20px 20px 20px;
  -webkit-transform: rotateY(180deg);
  background: #a3a3a3 url(texture.png);
}

/* line 169, ../scss/style.scss */
.megatron img {
  float: right;
}

/* line 172, ../scss/style.scss */
.megatron p {
  float: left;
  width: 185px;
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 28px;
  color: #4c4c4c;
}

/* line 176, ../scss/style.scss */
.megatron dl {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #717171;
  width: 264px;
  padding: 5px 10px;
  overflow: hidden;
  background: #cfcfcf url(gradient.png) repeat-y;
  -webkit-box-shadow: 0 1px 5px #888;
  text-shadow: 0 1px 1px #f5f5f5;
}

/* line 184, ../scss/style.scss */
.megatron dl dt {
  float: left;
  clear: both;
}

/* line 187, ../scss/style.scss */
.megatron dl dd {
  float: right;
}

/* line 192, ../scss/style.scss */
.optimus {
  float: left;
  position: absolute;
  top: 120px;
  right: 20px;
  -webkit-transform: rotate(-3deg);
}

/* line 199, ../scss/style.scss */
.optimus .back {
  width: 284px;
  height: 372px;
  padding: 20px 20px 20px 20px;
  -webkit-transform: rotateY(180deg);
  background: #a3a3a3 url(texture.png);
}

/* line 204, ../scss/style.scss */
.optimus img {
  float: right;
}

/* line 207, ../scss/style.scss */
.optimus p {
  float: left;
  width: 185px;
  margin: 0 0 27px 0;
  font-size: 17px;
  line-height: 28px;
  color: #4c4c4c;
}

/* line 211, ../scss/style.scss */
.optimus dl {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #717171;
  width: 264px;
  padding: 5px 10px;
  overflow: hidden;
  background: #cfcfcf url(gradient.png) repeat-y;
  -webkit-box-shadow: 0 1px 5px #888;
  text-shadow: 0 1px 1px #f5f5f5;
}

/* line 219, ../scss/style.scss */
.optimus dl dt {
  float: left;
  clear: both;
}

/* line 222, ../scss/style.scss */
.optimus dl dd {
  float: right;
}

/* line 226, ../scss/style.scss */
.front {
  z-index: 10;
}

/* line 229, ../scss/style.scss */
.container:hover .front {
  z-index: 0;
}

/* line 233, ../scss/style.scss */
#credit {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #717171;
}

/* line 237, ../scss/style.scss */
#credit a {
  color: #666;
}

/* line 240, ../scss/style.scss */
#credit a:hover {
  color: #888;
}
